/*------------------------------------*\
    #Buttons
\*------------------------------------*/

.btn {
  display: inline-block;
  position: relative;
  padding: 1rem 2.5rem;
  background: $color-dark;
  border: none;
  border-radius: 0;
  color: #fff;
  transition: all .2s ease;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.3rem;

  &:focus {
    outline: none;
  }

  &--lg {
    padding: 2rem 3.5rem;
  }

  &--secondary {
    background: $brand-secondary;

    &:hover {
      background: darken($brand-secondary, 10);
    }
  }

  &--outline {
    border: 2px solid $brand-secondary;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      width: 2rem;
      height: 2px;
      background: $brand-primary;
      position: absolute;
      transition: left .3s ease-out;
    }

    &:before {
      top: -2px;
      left: 20%;
    }

    &:after {
      bottom: -2px;
      left: 60%;
    }

    &:hover {
      &::before {
        left: 80%;
      }
      &::after {
        left: 20%;
      }
    }
  }

  &--clear {
    background: none;
  }

  &--success {
    background: $color-success;
  }

  &--danger {
    background: $color-danger;
  }

  &--twitter {
    background: #00aced;

    img {
      width: 25px;
      vertical-align: middle;
      margin-right: 10px;
    }

    &.btn--clear {
      &:hover {
        background: #00aced;
      }
    }

    &:hover {
      background: darken(#00aced, 10);
    }
  }
}