/*------------------------------------*\
    #Buttons
\*------------------------------------*/

.btn {
  position: relative;
  padding: 1rem 2.5rem;
  background: $color-dark;
  border: none;
  border-radius: 0;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: .05rem;
  transition: all .2s ease;

  &:focus {
    outline: none;
  }

  &--primary {
    border: 2px solid $brand-secondary;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      width: 2rem;
      height: 2px;
      background: $brand-primary;
      position: absolute;
      transition: left .3s ease-out;
    }

    &:before {
      top: -2px;
      left: 20%;
    }

    &:after {
      bottom: -2px;
      left: 60%;
    }

    &:hover {
      &::before {
        left: 80%;
      }
      &::after {
        left: 20%;
      }
    }
  }

  &--success {
    background: $color-success;
  }

  &--danger {
    background: $color-danger;
  }
}