.question {
  text-transform: uppercase;
  font-size: 3.5rem;
  line-height: 2rem;
  margin-top: 0;
  margin-bottom: 7rem;
  overflow: hidden;

  &__body {
    margin: 1.3rem 0 1rem 0;
    display: block;
  }

  &__head,
  &__foot {
    font-style: italic;
    font-size: 2rem;
  }
}