/*------------------------------------*\
    #Config
\*------------------------------------*/

$brand-primary: #F04846;
//$brand-primary: #EB3349;
$brand-secondary: #F45C43;

$color-success: #33EB5B;
$color-danger: $brand-secondary;
$color-dark: #273043;
$color-light: #9197AE;

$font-primary: "brandongrotesquemedium", Arial, sans-serif !default;
$font-primary-bold: "brandongrotesquebold", Arial, sans-serif !default;
$font-primary-regular: "brandongrotesqueregular", Arial, sans-serif !default;
