/*------------------------------------*\
    #Config
\*------------------------------------*/

$brand-primary: #272b39;
$brand-secondary: #eb212e;

$color-success: #33EB5B;
$color-danger: $brand-secondary;
$color-dark: $brand-primary;
$color-light: lighten($brand-primary, 20%);

$font-primary: 'Open Sans', Arial, sans-serif !default;
