<div class="build">
    <div class="build__drawing">
        <canvas id="drawingCanvas"></canvas>
    </div>

    <div class="build__controls">
        <h2 class="question">
            <small class="question__head">Is</small>
            <span class="question__body" id="questionBody"></span>
            <small class="question__foot">a good thing ?</small>
        </h2>

        <div class="build__buttons">
            <button class="build__button btn btn--danger" data-answer="negative">
                <img src="img/hand.svg" alt="Against">
            </button>
            <button class="build__button btn btn--success" data-answer="positive">
                <img src="img/hand.svg" alt="Pro">
            </button>
        </div>
    </div>
</div>