<div class="home">
    <div class="home__bars">
        <ul class="home__stars">
            <li class="home__star"><img src="img/star-red.png" alt="Star"></li>
            <li class="home__star"><img src="img/star-red.png" alt="Star"></li>
            <li class="home__star"><img src="img/star-red.png" alt="Star"></li>
            <li class="home__star"><img src="img/star-red.png" alt="Star"></li>
            <li class="home__star"><img src="img/star-red.png" alt="Star"></li>
        </ul>
    </div>

    <h1 class="home__title upper">
        Wanna make presidents great again ?
    </h1>

    <div class="home__bars">
        <div class="home__button-wrapper">
            <a href="/build" class="home__button btn btn--outline upper font-medium" nav-link>
                Make my great president
            </a>
        </div>
    </div>

    <a href="/presidents" class="home__index-button btn btn--clear upper m-t-xs font-medium" nav-link>
        Vote for great presidents
    </a>
</div>

<div class="home-border"></div>