<div class="pr-show">
    <div class="pr-show__left">
        <div class="pr-show__content">
            <h2 class="title" id="endMessage">
                <small class="title__head">Vote</small>
                <span class="title__body"><%= president.get('name') %></span>
                <small class="title__foot">for great president !</small>
            </h2>

            <div class="delimiter delimiter--25"></div>

            <div class="pr-show__countdown">
                <h4 class="m-b-sm upper">Presidential election in :</h4>
                <div id="countdown" class="countdown"></div>
            </div>

            <div class="pr-show__actions">
                <div class="pr-show__vote-wrapper">
                    <div class="pr-show__vote-backface btn btn--lg"></div>
                    <button class="pr-show__vote btn btn--lg btn--secondary" id="voteButton">
                        <img src="img/vote.svg" alt="+1" />
                        <span>Vote for <%= president.get('name') %></span>
                    </button>
                </div>

                <a href="https://twitter.com/intent/tweet?hashtags=GreatPresidentElection&text=Vote <%= president.get('name') %> for the great president election ! <%= window.location.href %>" target="_blank" class="btn btn--clear btn--twitter m-t-md">
                    <img src="img/twitter.svg" alt="Twitter" />
                    Share on twitter
                </a>
            </div>
        </div>
    </div>

    <div class="pr-show__right">
        <div class="draw-area draw-area--shown" id="drawingCanvas"></div>
    </div>

    <div id="animationOverlay"></div>
</div>