<div class="pr-index">
    <h1 class="title text-center" id="endMessage">
        <small class="title__head">Most voted</small>
        <span class="title__body">great presidents</span>
    </h1>

    <% if (podiumPresidents.length < 1) { %>
    <div class="text-center">
        <h3>No great presidents found...</h3>
        <a href="/build" class="btn btn--primary" nav-link>Start by building your own</a>
    </div>
    <% } %>

    <section class="pr-index__presidents pr-index__presidents--podium">
        <% _.each(podiumPresidents, function(president, i) { %>
        <article class="pr-index__president-wrapper">
            <a href="/p/<%= president.get('token')%>" class="pr-index__president card" nav-link>
                <div class="card__top-info">#<%= i + 1 %></div>
                <div class="card__image">
                    <img src="/uploads/presidents/<%= president.get('token') %>.jpeg" alt="ALT TEXT HERE">
                </div>
                <div class="card__body">
                    <div class="card__votes">
                        <div class="vote__value"><%= president.get('votesCount') %></div>
                        <div class="vote__label">votes</div>
                    </div>
                    <h3 class="card__title"><%= president.get('name') %></h3>
                </div>
            </a>
        </article>
        <% }); %>
    </section>

    <section class="pr-index__presidents pr-index__presidents--others">
        <% _.each(otherPresidents, function(president, i) { %>
        <article class="pr-index__president-wrapper">
            <a href="/p/<%= president.get('token')%>" class="pr-index__president card card--sm" nav-link>
                <div class="card__top-info">#<%= i + 4 %></div>
                <div class="card__image">
                    <img src="/uploads/presidents/<%= president.get('token') %>.jpeg" alt="ALT TEXT HERE">
                </div>
                <div class="card__body">
                    <div class="card__votes">
                        <div class="vote__value"><%= president.get('votesCount') %></div>
                        <div class="vote__label">votes</div>
                    </div>
                    <h3 class="card__title"><%= president.get('name') %></h3>
                </div>
            </a>
        </article>
        <% }); %>
    </section>
</div>