<div class="show">
    <div class="show__left">
        <div class="show__content">
            <h2 class="title" id="endMessage">
                <small class="title__head">Vote</small>
                <span class="title__body"><%= president.get('name') %></span>
                <small class="title__foot">for great president!</small>
            </h2>

            <a href="#" class="btn btn--lg btn--twitter">
                <img src="img/twitter.svg" alt="Twitter" />
                Share on twitter
            </a>
            <p>
                or spread this link :<br>
                <a href="#" target="_blank" class="m-t-xs inline-block font-bold" id="permalink"></a>
            </p>


            <a href="/" class="btn btn--outline m-t-xxl">
                Build My Own Great President
            </a>
        </div>
    </div>

    <div class="show__right">
        <div class="draw-area draw-area--shown" id="drawingCanvas"></div>
    </div>
</div>