.build {
  height: 100%;
  display: flex;
  align-items: center;

  &__drawing,
  &__controls {
    flex: 1;
  }

  &__drawing {
    height: 100%;
    border: 4px solid $brand-secondary;
  }

  &__controls {
    text-align: center;
  }

  &__buttons {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &__button {
    $button-size: 10rem;

    height: $button-size;
    width: $button-size;
    margin: 0 3rem 1rem;
    border-radius: 100%;
    background: none;

    opacity: 0;

    img {
      position: relative;
      z-index: 1;
      height: 5rem;
    }

    &:hover {
      margin-top: 5px;
      margin-bottom: 5px;

      &::after {
        border-radius: 7rem 7rem 100% 100%;
        top: 1.5rem;
      }
    }

    &:active {
      margin-top: 1rem;
      margin-bottom: 0;

      &::after {
        border-radius: 7rem 7rem 100% 100%;
        top: 1rem;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 2rem;
      left: 0;
      height: $button-size;
      width: $button-size;
      border-radius: $button-size/2 $button-size/2 100% 100%;
      transition: all .2s ease;
    }

    &.btn--danger {
      img {
        transform: scaleY(-1);
      }
      &::before {
        background: $color-danger;
      }
      &::after {
        background: darken($color-danger, 20%);
      }
    }
    &.btn--success {
      &::before {
        background: $color-success;
      }
      &::after {
        background: darken($color-success, 20%);
      }
    }
  }
}