.build {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;

  &__left,
  &__right {
    flex: 1;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    position: relative;
    text-align: center;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  &__counter {
    position: absolute;
    top: 4rem;
    width: 70px;
    left: 50%;
    margin-left: -35px;
    font-weight: 600;
    opacity: 0;
    border-bottom: 1px solid #fff;
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  &__end-message {
    opacity: 0;
    width: 100%;
    text-align: center;
  }

  &__namer {
    position: absolute;
    transform: translateX(100%);
    width: 400px;
    opacity: 0;

    .title {
      margin-bottom: 3rem;
    }

    .btn {
      margin-top: 3rem;
    }

    .error {
      display: none;
      text-align: right;
      color: #fff;
      font-weight: 600;
      padding: 5px 11px;
      background: #eb212e;
    }
  }

  .draw-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    z-index: 2;
  }

  &__buttons {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &__button {
    $button-size: 10rem;

    height: $button-size;
    width: $button-size;
    margin: 0 3rem 1rem;
    border-radius: 100%;
    background: none;

    opacity: 0;

    img {
      position: relative;
      z-index: 1;
      height: 5rem;
    }

    &:hover {
      margin-top: 5px;
      margin-bottom: 5px;

      &::after {
        border-radius: 7rem 7rem 100% 100%;
        top: 1.5rem;
      }
    }

    &:active {
      margin-top: 1rem;
      margin-bottom: 0;

      &::after {
        border-radius: 7rem 7rem 100% 100%;
        top: 1rem;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 2rem;
      left: 0;
      height: $button-size;
      width: $button-size;
      border-radius: $button-size/2 $button-size/2 100% 100%;
      transition: all .2s ease;
    }

    &.btn--danger {
      img {
        transform: scaleY(-1);
      }
      &::before {
        background: $color-danger;
      }
      &::after {
        background: darken($color-danger, 20%);
      }
    }
    &.btn--success {
      &::before {
        background: $color-success;
      }
      &::after {
        background: darken($color-success, 20%);
      }
    }
  }
}